.btn-change{
    height: 50px;
    width: 200px;
    background: radial-gradient(circle, rgba(135,155,255,1) 0%, rgba(241,225,255,1) 100%);
    margin: 20px;
    float: right;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: black
}

.btn-change:hover{
    -webkit-transform: scale(1.1);
    background: radial-gradient(circle, rgba(76,106,255,1) 0%, rgba(241,225,255,1) 100%);
}

.two-col-box {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.two-col-item {
    padding: 20px;
    text-align: left;
    width: 400px;
    display: inline-block;
}

.one-col-box {
    display: grid;
    justify-content: center;

}

.one-col-item {
    text-align: left;
    width: 400px;
    padding: 10px;
}

.jumbotron-custom {
    padding-top: 10em;
    margin: auto;
}